version: '3.4'

services:
  gateway:
    image: paulrozhkin/sport-tracker:latest
    environment:
      - "TRACKER_PRODUCTION=true"
      - "TRACKER_SERVER_HOST=0.0.0.0"
      - "TRACKER_SERVER_PORT=80"
      - "TRACKER_SERVER_DISABLE_CORS=true"
      - "TRACKER_DATABASE_NAME=sport_tracker"
      - "TRACKER_DATABASE_USER=postgres"
      - "TRACKER_DATABASE_PASSWORD=sql"
      - "TRACKER_DATABASE_CONNECTION=postgres:5433"
      - "TRACKER_DATABASE_SSL=disable"
      - "TRACKER_DATABASE_SEEDING=true"
      - "TRACKER_jwtSigningKey=<pass jwt signing key>"
    labels:
      logging: "promtail"
      logging_jobname: "api-gateway"
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:80"
  
  web:
    image: paulrozhkin/sport-tracker-web:latest
    depends_on:
      - gateway
    ports:
      - "19006:19006"
      - "19000:19000"

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=sql
      - POSTGRES_DB=sport_tracker
      - PGPORT=5433
    ports:
      - "5433:5433"
    volumes:
      - postgres:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 5s
      retries: 5

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    volumes:
      - ./deploy/grafana/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafana-storage:/var/lib/grafana

  loki:
    image: grafana/loki:latest
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image:  grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./deploy/loki/promtail.yaml:/etc/promtail/docker-config.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/docker-config.yaml
    depends_on:
      - loki

  prometheus:
    image: prom/prometheus:v2.24.0
    volumes:
      - ./deploy/prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    depends_on:
      - gateway
    ports:
      - 9090:9090
    restart: always

volumes:
  postgres:
  prometheus_data:
  grafana-storage: